name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure
        run: cmake -B build -A Win32
      - name: Build
        run: cmake --build build --config Release
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: csnz_weapons
          path: build/Release/csnz_weapons.dll
          retention-days: 30
